/* table {
  border-collapse: collapse;
}

th, td {
  border-right: 1px solid #e5e7eb;
}

th:last-child,
td:last-child {
  border-right: none;
} */


/* .table_area {
  padding: 18px;
}
table{
  background-color: rgb(255, 255, 255);
}
table th{
  background-color: #E6354B;
}
.serialNumCol{
  width: 80px;
} */

