<div class="bg-gray-50 min-h-screen p-2 md:p-2">
    <!-- Assigned Leaves Table -->
    <div class="bg-white shadow rounded-lg p-1">

        <!-- HEADER -->
        <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-1 mb-1">

            <!-- LEFT SIDE: TITLE -->
            <h1 class="ml-2 text-lg md:text-[16px] font-semibold text-[#444] text-center md:text-left">
                Assigned Leaves
            </h1>

            <!-- RIGHT SIDE: SEARCH + PAGINATOR (together) -->
            <div class="flex items-center gap-2">

                <!-- SEARCH -->
                <div class="relative">
                    <input type="text" placeholder="Search Leave" [formControl]="searchControl" class="w-full pl-10 pr-3 py-[6px] text-[12px] rounded-lg bg-[#F6F7FB]
        border border-gray-300
        focus:outline-none focus:ring-2 focus:ring-[#C5192F] table-search" />
                    <i class="fa-solid fa-magnifying-glass
        absolute left-3 top-1/2 -translate-y-1/2
        text-gray-400 text-sm">
                    </i>
                </div>

                <!-- PAGINATOR -->
                <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[5,10,20,30]"
                    showFirstLastButtons (page)="onPageChange($event)">
                </mat-paginator>
            </div>

        </div>

        <!-- ================= TABLE WRAPPER ================= -->
        <div class="relative overflow-x-auto w-full">

            <table mat-table [dataSource]="dataSource" class="min-w-[700px] w-full
               border border-gray-300
               divide-y divide-gray-300
               table-fixed
               text-sm md:text-base">

                <!-- SR NO -->
                <ng-container matColumnDef="srNo">
                    <th mat-header-cell *matHeaderCellDef class="w-[70px] text-center !bg-[#dd3d4f] text-white">
                        Sr No.
                    </th>

                    <td mat-cell *matCellDef="let row; let i = index" class="text-center text-[12px]">
                        {{ (pageNumber - 1) * pageSize + i + 1 }}
                    </td>
                </ng-container>

                <!-- Leave Type -->
                <ng-container matColumnDef="leaveName">
                    <th mat-header-cell *matHeaderCellDef class="w-[70px] text-center !bg-[#dd3d4f] text-white">Leave
                        Type</th>
                    <td mat-cell *matCellDef="let row">{{ row.leaveName }}</td>
                </ng-container>

                <!-- No. of Leaves -->
                <ng-container matColumnDef="noOfLeaves">
                    <th mat-header-cell *matHeaderCellDef class="w-[70px] text-center !bg-[#dd3d4f] text-white">
                        No. of Leaves</th>
                    <td mat-cell *matCellDef="let row">{{ row.noOfLeave }}</td>
                </ng-container>


                <!-- ROWS -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="!h-9">
                </tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns" class="hover:bg-gray-100 !h-9">
                </tr>

            </table>

        </div>
    </div>
</div>