<div class="bg-gray-50 p-2 md:p-2">
  <!-- Assigned Leaves Table -->
  <div class="bg-white shadow rounded-lg p-1">

    <!-- HEADER -->
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-1 mb-1">

      <!-- LEFT SIDE: TITLE -->
      <h1 class="ml-2 text-lg md:text-[16px] font-semibold text-[#444] text-center md:text-left">
        Assigned Leaves
      </h1>

      <!-- RIGHT SIDE: SEARCH + PAGINATOR (together) -->
      <div class="flex items-center gap-2">

        <!-- SEARCH -->
        <div class="relative">
          <input type="text" placeholder="Search Leave" [formControl]="searchControl" class="w-full pl-10 pr-3 py-[6px] text-[12px] rounded-lg bg-[#F6F7FB]
        border border-gray-300
        focus:outline-none focus:ring-2 focus:ring-[#C5192F] table-search" />
          <i class="fa-solid fa-magnifying-glass
        absolute left-3 top-1/2 -translate-y-1/2
        text-gray-400 text-sm">
          </i>
        </div>

        <!-- PAGINATOR -->
        <!-- <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageIndex]="pageNumber - 1"
          [pageSizeOptions]="[10,20,30]" showFirstLastButtons (page)="onPageChange($event)">
        </mat-paginator> -->

      </div>

    </div>

    <app-generic-table
    [columns]="projectColumns"
    [data]="dataSource.data"
    [showActions]="false"
    >

    </app-generic-table>
  </div>
</div>
