<!-- ================= Filter Section ================= -->
<div class="bg-white rounded-xl shadow ms-1 mt-2 p-3 mb-3">

  <h2 class="text-sm font-semibold mb-4 text-gray-700">View Attendance</h2>

  <form [formGroup]="filterForm" class="grid grid-cols-1 md:grid-cols-4 gap-4 items-end">

    <!-- Employee Code -->
    <input
      type="text"
      placeholder="Employee Code"
      formControlName="empCode"
      class="border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#dd3d4f]" />

    <!-- Month -->
    <select
      formControlName="month"
      class="border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#dd3d4f]">
      <option value="">Select Month</option>
      <option *ngFor="let m of months" [value]="m.value">{{ m.label }}</option>
    </select>

    <!-- Year -->
    <select
      formControlName="year"
      class="border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#dd3d4f]">
      <option value="">Select Year</option>
      <option *ngFor="let y of years">{{ y }}</option>
    </select>

    <!-- View Button -->
    <button
      type="button"
      [disabled]="filterForm.invalid || isLoading"
      (click)="loadAttendance()"
      class="bg-[#dd3d4f] text-white rounded-lg font-medium flex justify-center items-center gap-2 px-4 py-2 hover:bg-red-600 disabled:opacity-50">
      
      <span *ngIf="!isLoading">View</span>
      <div *ngIf="isLoading" class="w-4 h-4 border-2 border-white border-t-transparent rounded-full animate-spin"></div>
    </button>

  </form>
</div>

<!-- ================= Summary Cards ================= -->
<div *ngIf="attendanceSummary" class="grid grid-cols-2 ms-1 md:grid-cols-4 gap-4 mb-3">

  <div class="bg-white shadow rounded-xl p-4 text-center">
    <p class="text-gray-500 text-sm">Total Working Days</p>
    <h3 class="text-gray-700 font-semibold text-lg">{{ attendanceSummary.totalWorkingDays }}</h3>
  </div>

  <div class="bg-green-50 shadow rounded-xl p-4 text-center">
    <p class="text-green-600 text-sm">Present</p>
    <h3 class="text-green-800 font-semibold text-lg">{{ attendanceSummary.presentDays }}</h3>
  </div>

  <div class="bg-red-50 shadow rounded-xl p-4 text-center">
    <p class="text-red-600 text-sm">Absent</p>
    <h3 class="text-red-800 font-semibold text-lg">{{ attendanceSummary.absentDays }}</h3>
  </div>

  <div class="bg-yellow-50 shadow rounded-xl p-4 text-center">
    <p class="text-yellow-600 text-sm">Half Day</p>
    <h3 class="text-yellow-800 font-semibold text-lg">{{ attendanceSummary.halfDays }}</h3>
  </div>

</div>

<!-- ================= Attendance Table ================= -->
<app-generic-table
  [columns]="attendanceColumns"
  [data]="attendancedetails"  
   [showActions]="false"
  [loading]="isLoading"        
>
</app-generic-table>


