<div class="bg-gray-50 p-2 md:p-2">
  <div class="bg-white shadow rounded-lg p-1">

    <!-- HEADER -->
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-1 mb-1">
      <h1 class="ml-2 text-lg md:text-[16px] font-semibold text-[#444] text-center md:text-left">
        Assigned Project List
      </h1>
    </div>

    <!-- GENERIC TABLE -->
    <app-generic-table
      [columns]="projectsColumns"
      [data]="projectsData"
      [loading]="loading"
      [showActions]="false"
    >
    </app-generic-table>
   
  </div>
</div>

<ng-template #filesTemplate let-row>
  <div class="flex justify-center gap-2">

    <!-- View Project -->
    <button
      class="w-7 h-7 flex items-center justify-center rounded
             text-blue-600 hover:bg-blue-100"
      title="View Project"
      (click)="viewEmployee(row)"
    >
      👁
    </button>

    <!-- View Employee -->
    <button
      class="w-7 h-7 flex items-center justify-center rounded
             text-green-600 hover:bg-green-100"
      title="View Employee"
      (click)="viewEmployee(row)"
    >
      👤
    </button>

  </div>
</ng-template>


<div *ngIf="showEmployeeModal"
     class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">

  <div class="bg-white w-[400px] max-h-[80vh] rounded-xl shadow-xl flex flex-col">

    <!-- Header -->
    <div class="flex justify-between items-center px-4 py-2 border-b">
      <h3 class="font-semibold">Select Employee</h3>
      <button
        (click)="showEmployeeModal = false"
        class="text-gray-500 hover:text-red-500">✕</button>
    </div>

    <!-- Body -->
    <div class="overflow-auto">

      <!-- Loading -->
      <p *ngIf="employeeLoading"
         class="text-center py-4 text-gray-500">
        Loading employees...
      </p>

      <!-- Employee Name List -->
  <select
  [(ngModel)]="selectedEmployeeId"
  class="w-full border rounded px-3 py-2 text-sm">

  <option value="">Select Employee</option>

  <option *ngFor="let emp of employees" [value]="emp.id">
    {{ emp.empName }}
  </option>

</select>


      <p *ngIf="!employeeLoading && !employees.length"
         class="text-center py-4 text-gray-400">
        No employees found
      </p>

    </div>
  </div>
</div>

