<div class="bg-gray-50 p-2 md:p-2">
    <!-- Assigned Leaves Table -->
    <div class="bg-white shadow rounded-lg p-1">

        <!-- HEADER -->
        <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-1 mb-1">

            <!-- LEFT SIDE: TITLE -->
            <h1 class="ml-2 text-lg md:text-[16px] font-semibold text-[#444] text-center md:text-left">
                Leave Requests
            </h1>

            <!-- RIGHT SIDE: SEARCH + PAGINATOR (together) -->
            <div class="flex items-center gap-2">

                <!-- SEARCH -->
                <div class="relative">
                    <input type="text" placeholder="Search Employee" [formControl]="searchControl" class="w-full pl-10 pr-3 py-[6px] text-[12px] rounded-lg bg-[#F6F7FB]
        border border-gray-300
        focus:outline-none focus:ring-2 focus:ring-[#C5192F] table-search" />
                    <i class="fa-solid fa-magnifying-glass
        absolute left-3 top-1/2 -translate-y-1/2
        text-gray-400 text-sm">
                    </i>
                </div>

                <!-- PAGINATOR -->
                <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageIndex]="pageNumber - 1"
                    [pageSizeOptions]="[10,20,30]" showFirstLastButtons (page)="onPageChange($event)">
                </mat-paginator>

            </div>

        </div>

        <!-- ================= TABLE WRAPPER ================= -->
        <div class="relative overflow-x-auto w-full">

            <table mat-table [dataSource]="dataSource" class="min-w-[700px] w-full
               border border-gray-300
               divide-y divide-gray-300
               table-fixed
               text-sm md:text-base">

                <!-- SR NO -->
                <ng-container matColumnDef="srNo">
                    <th mat-header-cell *matHeaderCellDef
                        class="!w-[50px] text-center !bg-[#dd3d4f] border-r text-white">
                        Sr No.
                    </th>

                    <td mat-cell *matCellDef="let row; let i = index" class="text-center text-[12px]">
                        {{ (pageNumber - 1) * pageSize + i + 1 }}
                    </td>
                </ng-container>

                <!-- Employee Name -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef
                        class="w-[100px] text-center !bg-[#dd3d4f] border-r text-white">Name
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.empName }}</td>
                </ng-container>

                <!-- Leave Type -->
                <ng-container matColumnDef="leaveName">
                    <th mat-header-cell *matHeaderCellDef
                        class="w-[50px] text-center !bg-[#dd3d4f] border-r text-white">Leave</th>
                    <td mat-cell *matCellDef="let row">{{ row.leaveName }}</td>
                </ng-container>

                <!-- From Date -->
                <ng-container matColumnDef="fromDate">
                    <th mat-header-cell *matHeaderCellDef
                        class="w-[100px] text-center !bg-[#dd3d4f] border-r text-white">From
                        Date</th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.fromDate | date:'dd-MM-yyyy' }}
                    </td>
                </ng-container>

                <!-- To Date -->
                <ng-container matColumnDef="toDate">
                    <th mat-header-cell *matHeaderCellDef
                        class="w-[100px] text-center !bg-[#dd3d4f] border-r text-white">To Date
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.toDate | date:'dd-MM-yyyy' }}
                    </td>
                </ng-container>

                <!-- Document -->
                <ng-container matColumnDef="document">
                    <th mat-header-cell *matHeaderCellDef
                        class="w-[60px] text-center !bg-[#dd3d4f] border-r text-white">Document</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary" (click)="downloadFile(row.fileName)">
                            <i class="fa-solid fa-download text-[#dd3d4f]"></i>
                        </button>

                    </td>
                </ng-container>

                <!-- Description -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef
                        class="w-[70px] text-center !bg-[#dd3d4f] border-r text-white">
                        Description</th>
                    <td mat-cell *matCellDef="let row">{{ row.description }}</td>
                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef
                        class="w-[110px] text-center !bg-[#dd3d4f] border-r text-white">
                        Action</th>
                    <td mat-cell *matCellDef="let row" class="px-1 py-1 text-center">
                        <div *ngIf="row.statuscode == 0">
                            <button title="Approve" (click)="ApproveLeave(row.id)"
                                class="text-green-700 p-2 rounded-full hover:bg-green-100 mr-1 text-[12px]">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            |
                            <button title="Reject" (click)="openModal(row.id)"
                                class="text-red-700 p-2 rounded-full hover:bg-green-100 mr-1 text-[12px]">
                                <i class="fa-solid fa-remove"></i>
                            </button>
                        </div>
                            <span class=" text-green-600" *ngIf="row.statuscode==1">
                                {{row.status}}
                            </span>
                            <a (click)="openReasonModal(row.id)" class="!cursor-pointer text-red-600" *ngIf="row.statuscode==2">
                                {{ row.status }}
                            </a>
                    </td>
                </ng-container>

                <!-- ROWS -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="!h-9">
                </tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns" class="hover:bg-gray-100 !h-9">
                </tr>

            </table>

        </div>
    </div>
</div>

<!-- MODAL BACKDROP -->
<div *ngIf="isModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <!-- MODAL CARD -->
    <div class="bg-white w-full max-w-md rounded-lg shadow-lg relative">

        <!-- CLOSE BUTTON -->
        <button type="button" (click)="closeModal()"
            class="absolute top-3 right-3 text-gray-500 hover:text-red-600 text-lg">
            <i class="fa-solid fa-xmark"></i>
        </button>

        <!-- MODAL HEADER -->
        <div class="border-b px-5 py-3">
            <h2 class="text-lg font-semibold text-gray-700">
                Reject Leave
            </h2>
        </div>

        <!-- MODAL BODY -->
        <form [formGroup]="statusForm" (ngSubmit)="onSubmitStatus()" class="px-5 py-4 space-y-4">

            <!-- Reason -->
            <div>
                <label class="block text-sm font-medium text-gray-600 mb-1">
                    Reason
                </label>
                <input type="text" formControlName="reason" class="w-full px-3 py-2 text-sm border border-gray-300 rounded-md
                 focus:outline-none focus:ring-2 focus:ring-[#C5192F]" />
            </div>

            <!-- ACTION BUTTONS -->
            <div class="flex justify-center gap-2 pt-3 border-t">

                <button type="submit" [disabled]="statusForm.invalid" class="px-4 py-2 text-sm rounded-md text-white
                 bg-[#C5192F] hover:bg-[#b3162a] disabled:opacity-50">
                    Submit
                </button>
            </div>

        </form>
    </div>
</div>

<!-- MODAL BACKDROP -->
<div *ngIf="isReasonModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <!-- MODAL CARD -->
    <div class="bg-white w-full max-w-md rounded-lg shadow-lg relative">

        <!-- CLOSE BUTTON -->
        <button type="button" (click)="closeModal()"
            class="absolute top-3 right-3 text-gray-500 hover:text-red-600 text-lg">
            <i class="fa-solid fa-xmark"></i>
        </button>

        <!-- MODAL HEADER -->
        <div class="border-b px-5 py-3">
            <h2 class="text-lg font-semibold text-gray-700">
                Reason
            </h2>
        </div>

        <!-- MODAL BODY -->
         <div class="p-4">
            {{reason}}
         </div>
    </div>
</div>