<div class="panel-header panel-header-sm"></div>

<div class="content px-3 py-2">

  <!-- ================= FORM ================= -->
  <div class="mb-3">
    <div class="bg-white shadow rounded-lg">
      <div class="p-2">
        <form #roleForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="flex flex-col !p-1px md:flex-row md:items-center p-2">

            <!-- LABEL -->
            <div class="w-full md:w-[10%]">
              <label class="block text-[#7E7E7E] font-bold text-[12px] md:text-[16px] ml-1">
                Add Role :
              </label>
            </div>

            <!-- INPUT -->
            <div class="w-full md:w-[25%]">
              <input type="text" name="roleName" [(ngModel)]="roleName" required placeholder="Enter Role Name"
                class="w-[full] border border-gray-300 rounded-md px-3 text-[12px] w-[230px] py-2  focus:outline-none focus:ring-2 focus:ring-[#C5192F]" />
            </div>

            <!-- BUTTON -->
            <div class="w-full md:w-1/4">
              <button type="submit" class="w-full md:w-auto h-[34px] px-6
               bg-[#dd3d4f] text-white rounded-md text-[12px]">
                Submit
              </button>
            </div>

          </div>
        </form>


      </div>
    </div>
  </div>

  <!-- ================= TABLE ================= -->
  <div class="bg-white shadow rounded-lg p-1">

    <!-- HEADER -->
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-2 mb-2 w-full">

      <!-- TITLE -->
      <h1 class="ml-2 text-lg md:text-[16px] font-semibold text-[#444] text-center md:text-left">
        Role List
      </h1>

      <!-- RIGHT SIDE: SEARCH + PAGINATOR -->
      <div class="flex flex-col md:flex-row md:items-center gap-2 w-full md:w-auto justify-end">

        <!-- SEARCH INPUT -->
        <div class="relative">
          <input type="text" placeholder="Search Role" (keyup)="applyFilter($event)" class=" pl-10 pr-3 py-[6px] text-[12px] rounded-lg bg-[#F6F7FB] border border-gray-300
               focus:outline-none focus:ring-2 focus:ring-[#C5192F] table-search" />
          <i
            class="fa-solid fa-magnifying-glass absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 text-[12px]"></i>
        </div>

        <!-- PAGINATOR -->
        <div class="w-full md:w-auto">
          <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" [pageSize]="pageSize" [length]="totalRecords"
            showFirstLastButtons (page)="onPageChange($event)">
          </mat-paginator>
        </div>

      </div>

    </div>



    <!-- ================= TABLE WRAPPER ================= -->
    <div class="relative overflow-x-auto w-full">

      <table mat-table [dataSource]="dataSource" class="min-w-[700px] w-full
               border border-gray-300
               divide-y divide-gray-300
               table-fixed
               text-sm md:text-base">

        <!-- SR NO -->
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef class="w-[70px] text-[14px] px-1 py-1 text-center
                   !bg-[#dd3d4f] text-white whitespace-nowrap">
            Sr No.
          </th>

          <td mat-cell *matCellDef="let element" class="px-1 py-1 text-[12px] text-center">
            {{ element.srNo }}
          </td>
        </ng-container>

        <!-- ROLE NAME -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="min-w-[200px] text-[14px] px-1 py-1
                   !bg-[#dd3d4f] text-white">
            Role Name
          </th>

          <td mat-cell *matCellDef="let element" class="px-1 py-1 text-[12px] ">
            {{ element.name }}
          </td>
        </ng-container>

        <!-- ACTION -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="w-[120px] text-[14px] px-1 py-1 text-center
                   !bg-[#dd3d4f] text-white">
            Action
          </th>

          <td mat-cell *matCellDef="let element" class="px-1 py-1 text-center">

            <button class="text-green-700 p-2 rounded-full hover:bg-green-100 mr-1" (click)="editRole(element)">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="text-red-500 p-2 rounded-full hover:bg-red-100" (click)="deleteRole(element)">
              <i class="fa fa-trash"></i>
            </button>

          </td>
        </ng-container>

        <!-- ROWS -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="!h-9">
        </tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="hover:bg-gray-100 !h-9">
        </tr>

      </table>

    </div>
  </div>
</div>