<div class="panel-header panel-header-sm"></div>
<div  class="content px-3 p-2">
  <div class="mb-3">
    <div class="bg-white shadow rounded-lg">
      <div class="p-3">
        <form id="RegisterValidation">
          <div class="flex flex-wrap items-center gap-4">
            <div class="w-full md:w-1/6">
              <label for="RoleName" class="block text-[#7E7E7E] font-bold text-[17px]">
                Role :
              </label>
            </div>
            <div class="w-full md:w-1/2">
              <input
                class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[#E6354B]"
                name="RoleName" type="text" id="RoleName" required placeholder="Enter Role Name"
                autocomplete="off" />
            </div>
            <div class="w-full md:w-1/4">
              <button type="button" id="btnRole"
                class="h-10 px-4 bg-[#E6354B] text-white font-medium rounded-md hover:bg-[#249378] transition">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="mb-6">
    <div class="bg-white shadow rounded-lg">
      <!-- table -->
      <div class="mb-6">
        <div class="bg-white shadow rounded-lg">
          <div class="p-1 overflow-x-auto">

            <!-- Paginator -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20,30]" showFirstLastButtons></mat-paginator>


            <!-- MATERIAL TABLE with TAILWIND DESIGN -->
            <table mat-table [dataSource]="dataSource"
              class="min-w-full border border-gray-300 divide-y divide-gray-300 table-fixed">

              <!-- Sr No -->
              <ng-container matColumnDef="srNo">
                <th mat-header-cell *matHeaderCellDef
                  class="px-1 py-1 text-center !bg-[#E6354B] text-white border-r w-[80px]">
                  Sr No.
                </th>

                <td mat-cell *matCellDef="let element" class="px-1 py-1 text-center text-sm border-r">
                  {{ element.srNo }}
                </td>
              </ng-container>

              <!-- role Name -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="px-1 py-1 text-center !bg-[#E6354B] text-white border-r">
                 Role Name
                </th>
                <td mat-cell *matCellDef="let element" class="px-1 py-1 text-sm border-r">
                  {{ element.name }}
                </td>
              </ng-container>

              <!-- Action -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef
                  class="px-1 py-1 text-center !bg-[#E6354B] text-white border-r w-[150px]">
                  Action
                </th>
                <td mat-cell *matCellDef="let element" class="px-1 py-1 text-center">
                  <button class="text-green-700 mr-2">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button class="text-red-500">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns" class="!h-8"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns" class="hover:bg-gray-100 !h-8"></tr>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>