/* /* Hide "Items per page" label if needed */
::ng-deep .mat-mdc-paginator-page-size-label {
  display: none !important;
}

/* Hide "x – y of z" range text if needed */
::ng-deep .mat-mdc-paginator-range-label {
  display: none !important;
}

/* Reduce dropdown (5, 10, 20, 30) width */
::ng-deep .mat-mdc-paginator-page-size-select {
  width: 60px !important;  /* optional: adjust width */
  min-width: 45px !important;
}

/* Reduce dropdown height & font */
::ng-deep .mat-mdc-select-trigger {
  height: 8px !important;  /* reduced height */
  font-size: 12px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Reduce paginator overall height */
::ng-deep .mat-mdc-paginator-container {
  min-height: 30px !important;  /* reduce container height */
  padding: 0 8px !important;
}
.mdc-notched-outline{
  height: 35px!important;
}


.mat-mdc-paginator-touch-target{
  height: 30px!important;
  
}
 .mat-mdc-form-field-flex{
  height: 30px!important;
  
      align-items: center!important;
 }