@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-cell {
  border-color: #d1d1d1!important;
}
.mat-mdc-icon-button img, .mat-mdc-icon-button svg {
    width: var(--mdc-icon-button-icon-size, 18px)!important;
    height: var(--mdc-icon-button-icon-size, 18px)!important;
}
.mat-mdc-paginator-touch-target
 {
    height: 28px!important;
  
}
.mat-mdc-form-field-flex {

    height: 30px!important;
}
.mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding: 0!important;
  padding-top: 3px!important;
}
.mat-mdc-form-field-infix{
  min-height: 10px!important;
}

.multiple-select-div .mat-mdc-paginator-touch-target
 {
    height: auto!important;
  
}
.multiple-select-div .mat-mdc-form-field-flex {

    height: auto!important;
}
.multiple-select-div .mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding: auto!important;
  padding-top: auto!important;
}
.multiple-select-div.mat-mdc-form-field-infix{
  min-height: 30px!important;
}

 /* .mat-mdc-text-field-wrapper.mdc-text-field{
 }
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--no-label{} */

.table-search{
  max-width: 180px;
}
.table-search::placeholder{
  font-size: 12px;
}
.table-search i{
  font-size: 12px!important;
}



.multiple-select-div .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  width: 100%;
  background-color: white!important;
  border: 1px solid #ccc;
}
.multiple-select-div .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
  top: 15px;
}
.multiple-select-div .mdc-text-field--filled:not(.mdc-text-field--disabled){
  padding-top: 5px!important;
}
/* .multiple-select-div .mat-mdc-chip-set .mdc-evolution-chip-set__chips {
  padding-top: 10px!important;
} */

.multiple-select-div .mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
  background-color: #fff!important;
}

select {
  appearance: none;
  -webkit-appearance: none;
}

.mat-mdc-form-field-flex
 {
    height: auto!important;
}